@import '../../common/variables';
.cart{
    margin-left: 8px;
    position: relative;
    .badge{
        background-color: $warning-color;
        border-radius: 50%;
        color: $white-color;
        display: inline-block;
        font-size: 65%;
        font-weight: 700;
        height: 14px;
        line-height: 14px;
        min-width: 14px;
        position: absolute;
        right: -5px;
        text-align: center;
        top: -5px;
        vertical-align: baseline;
        white-space: nowrap;
    }
    &-icon{
        fill: $white-color;
        width: 20px;
    }
}