@import '../../common/variables';
#header{
    align-items: center;
    background-color: $brand-color;
    color: $white-color;
    display: flex;
    padding: 10px 16px;
    position: relative;
    z-index: 9;
    .logo{
        svg{
            fill: $secondary-color;
            width: 35px;
        }
    }
    aside{
        align-items: center;
        display: flex;
        margin-left: auto;
    }
    ::placeholder {
        color: $white-color;
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: $white-color;
    }
    ::-ms-input-placeholder {
        color: $white-color;
    }
}